@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --primary: 220 90% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 84% 5%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 5%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 84% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --primary: 220 90% 50%;
    --primary-foreground: 222 84% 5%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 212 97% 87%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
  }

  .unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 14rem;
  line-height: 8.75rem;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #14675E
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.55rem;
  color: #14675E;
}

h6 {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.9125rem;
  color: #14675E;
}

p {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.9125rem;
  color: #14675E;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}